<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<saker.build.ide.project.config xmlns:s="saker://serialization/types">
    <project-properties>
        <version>1</version>
        <working_dir>wd:</working_dir>
        <build_dir>build</build_dir>
        <mirror_dir/>
        <require_ide_config>true</require_ide_config>
        <repositories>
            <s:array>
                <s:obj>
                    <repo_id>nest</repo_id>
                    <classpath>
                        <type>jar</type>
                        <path>c:/Users/sipka/.nest/dist/nestrepository.jar</path>
                        <connection>local</connection>
                    </classpath>
                    <service>
                        <type>serviceloader</type>
                        <service_class>saker.build.runtime.repository.SakerRepositoryFactory</service_class>
                    </service>
                </s:obj>
            </s:array>
        </repositories>
        <user_parameters>
            <s:array>
                <s:obj>
                    <key>nest.server.offline</key>
                    <val>true</val>
                </s:obj>
            </s:array>
        </user_parameters>
        <connections>
            <s:array/>
        </connections>
        <mounts>
            <s:array>
                <s:obj>
                    <root>wd:</root>
                    <client>project</client>
                    <path>/</path>
                </s:obj>
            </s:array>
        </mounts>
        <script_configs>
            <s:array>
                <s:obj>
                    <wildcard>**/*.build</wildcard>
                    <options>
                        <s:array/>
                    </options>
                    <classpath>
                        <type>builtin-scripting-classpath</type>
                    </classpath>
                    <service>
                        <type>builtin-scripting-service</type>
                    </service>
                </s:obj>
            </s:array>
        </script_configs>
        <script_modelling_exclusions>
            <s:array>
                <s:val>wd:/test/resources/**</s:val>
            </s:array>
        </script_modelling_exclusions>
    </project-properties>
</saker.build.ide.project.config>
